.anchor {
    -fx-background-image:url('file:C:/Users/vinga/Documents/rpg/src/main/resources/com/example/rpg/Static/battleback1.png');
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: cover, auto;
}